<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- style css -->
    <script src="https://kit.fontawesome.com/3789c2c012.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>ToDo App</title>
</head>

<body>
    <div class="container">
        <h1>This is the ToDo page</h1>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#inputModal">
            Add+
        </button>

        <!-- Modal -->
        <div class="modal fade" id="inputModal" tabindex="-1" aria-labelledby="inputModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        style="margin-left: 95%;"></button>

                    <form method="POST">{% csrf_token %}
                        <input class="title-input" type="text" placeholder="Enter Title" name="content" required />
                        <textarea class="body-input" name="body" placeholder="Enter Your Text" required></textarea>
                        <input type="submit" class="btn btn-secondary btn-lg float-end" value="Save" />
                    </form>
                </div>
            </div>
        </div>

        <div class="display">
            <div class="row">
                {% if all_items %}
                {% for todo_item in all_items %}
                <div class="col-4">
                    <div class="todo-card" id="{{ todo_item.id }}" data-bs-toggle="modal" data-bs-target="#displayModal"
                        onclick="url('{{ todo_item.id }}', '{{ todo_item.content }}', '{{ todo_item.body }}')">

                        <h5>{{ todo_item.content }}</h5>
                        <p>{{ todo_item.body }}</p>
                        <a href="{% url 'delete' todo_item.id %}" class="delete">
                            <i class="fas fa-trash-alt"></i>
                        </a>

                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Modal to view the todo  -->
    <div class="modal fade" id="displayModal" tabindex="-1" aria-labelledby="inputModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    style="margin-left: 95%;"></button>
                
                <form method="POST" name="r_form">{% csrf_token %}
                    <input class="title-input" type="text" placeholder="Enter Title" name="r_content"
                        value="{{ read_todo.content }}" required />
                    <textarea class="body-input" name="r_body" placeholder="Enter Your Text" value="{{ read_todo.body }}"
                        required></textarea>
                    <input type="submit" class="btn btn-secondary btn-lg float-end" value="Save" />
                </form>
                
            </div>
        </div>
    </div>








    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

    <script>
        function url(id, content, body) {
            document.forms['r_form'].setAttribute("action", "/edit/"+id+"/");
            document.forms['r_form']['r_content'].value = content;
            document.forms['r_form']['r_body'].value = body;
        }
    </script>
</body>

</html>